@charset "UTF-8";
/* common ----------------------------------------------------------------*/
html {font-size: 100%;}
body{font-family:"Yu Gothic Medium",sans-serif; line-height:1.7;color:#432;background-color: rgba(116, 80, 48,0.2);}
a {text-decoration: none;}
img {max-width: 100%;}
.wrapper {max-width: 1100px;margin: 0 auto;padding: 0 4%;}
/* 大きな背景画像 */
.big-bg {background-size: cover;background-position: center top;}
/* 見出し */
.index-page-title{font-size:5rem;font-family: 'Comforter Brush', cursive;text-transform:uppercase;font-weight:normal;}
.page-title{font-size:5rem;font-family: 'New Tegomin', serif;text-transform:uppercase;font-weight:normal;}
.sub-title {font-size: 1.375rem;padding: 0 8px 8px;border-bottom: 2px saddlebrown solid;font-weight: normal;}
/* iframe */
iframe {width: 100%;}
/* header ----------------------------------------------------------------*/
.page-header {display: flex;justify-content: space-between;}
.logo {width: 210px;margin-top: 14px;}
.main-nav {display: flex;font-size: 1.25rem;text-transform: uppercase;margin-top: 34px;list-style: none;}
.main-nav li {margin-left: 36px;}
.main-nav a{color:#432;}
.main-nav a:hover{color:#b07f72;}
/* card ------------------------------------------------------------------*/
#card {background-image: url(image/back.png);height: 270px;margin-bottom: 40px;}
#card .page-title {text-align: center;}
.card-contents {display: flex;justify-content: space-between;margin-bottom: 50px;}
/* 記事部分 */
article {width: 74%;}
/* 本文 */
article img {margin-bottom: 20px;}
article p {margin-bottom: 1rem;}
/* サイドバー */
aside {width: 22%;}
.sub-menu {margin-bottom: 60px;list-style: none;}
.sub-menu li {border-bottom: 1px saddlebrown solid;}
.sub-menu a {color: #432;padding: 10px;display: block;}
.sub-menu a:hover {color: saddlebrown;}
aside p {padding: 12px 10px;}
/* フッター ----------------------------------------------------------------*/
footer {background: #432;text-align: center;padding: 26px 0;}
footer p {color: #fff;font-size: 0.875rem;}




/* モバイル版 --------------------------------------------------------------*/
@media (max-width: 600px) {
    h1 {color: saddlebrown;}
    .page-title {font-size: 2.5rem;}
    .page-header {flex-direction: column;align-items: center;}
    /* HEADER */
    .main-nav {font-size: 1rem;margin-top: 10px;}
    .main-nav li {margin: 0 20px;}
    /* NEWS */
    .card-contents {flex-direction: column;}
    article,
    aside {width: 100%;}
    #card .page-title {margin-top: 30px;}
    aside {margin-top: 60px;}
    /* MENU */
    .card-content {margin-top: 20%;}
    .big-box {grid-column: auto;grid-row: auto;}
    .big-box img {height: auto;}
}