body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.left-image {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

/*.up-arrow-image {*/
/*    width: 50px; !* 50px に変更 *!*/
/*    height: 50px; !* 50px に変更 *!*/
/*}*/

.up-arrow-image {
    width: 50px;
    height: 50px;
    border: 2px solid white; /* 白いボーダーを追加 */
    background-color: white; /* 背景色を白に設定 */
}

.bi-house-door-fill{
    font-size: 50px;
    color: black;
}

.bi-arrow-up-circle{
    font-size: 50px;
}